{% extends 'admin/base.html.twig' %}

{% block title %}Modificar producto{% endblock %}

{% block body %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-11 col-lg-10 col-xl-9">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h1>Modificar: {{ producto.nombre}}</h1>

                {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="container">
                    <div class="row">
                        <div class="col-6 "><a class="btn btn-outline-danger p-3" href="{{ path('app_admin_producto_index') }}">Volver</a></div>
                        <div class="col-6 ">{{ include('producto/_delete_form.html.twig') }}</div>
                    </div>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
