{% extends 'admin/base.html.twig' %}

{% block title %}Añadir Producto{% endblock %}

{% block body %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-11 col-lg-10 col-xl-9">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h1 class="text-center">Crear nuevo producto</h1>
                <hr>
                {{ include('producto/_form.html.twig') }}
                <a class="btn btn-outline-secondary" href="{{ path('app_admin_producto_index') }}">back to list</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
