{% extends 'admin/base.html.twig' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block body %}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-12 col-md-11 col-lg-10 col-xl-9">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            {% if mensaje %}
                  <div class="container">
                      <diV class="row">
                          <div class="alert alert-success  alert-dismissible fade show col-12 rounder-5 mt-3" role="alert">
                              {% for msg in mensaje %}
                                  {{ msg }}</br>
                              {% endfor %}
                              
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                      </div>
                  </div>
              {% endif %}
              <h1 class="text-center">Nuevo Pedido</h1>
              <hr>
              {{ include('admin/pedido/_form.html.twig') }}
              <a class="btn btn-outline-danger" href="{{ path('app_pedido_index') }}">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
