{% extends 'base.html.twig' %}

{% block title %}New DetalleCarrito{% endblock %}

{% block body %}
    <h1>Create new DetalleCarrito</h1>

    {{ include('detalle_carrito/_form.html.twig') }}

    <a href="{{ path('app_detalle_carrito_index') }}">back to list</a>
{% endblock %}
