// assets/styles/global.scss

// customize some Bootstrap variables
$primary: rgb(211, 17, 17);
$secondary: #7A1717;
$danger: #2DFA67;
body{
    font-size: large !important;
}
.green{
    color: rgb(50, 201, 50);
}
.menuSize{
    font-size: 20px;
}
// CSS de formulario inicio y registro
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
// CSS pagina perfil
.form_space {
    margin-left: 7px;
}
//pagina de admin
.sidebar {
    padding-bottom:0 !important;
}
@media (min-width: 992px){
.sidebar {
    padding-bottom:500px !important;
}
}
.text-left{
    text-align: left !important;
}
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";